.country{
    border: 2px solid black;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: azure;
    width: auto;

}
.visited{
    color: blueviolet;
    background-color: lightgoldenrodyellow;
}
.btn{
    background-color: white;
}
.input{
    width: 50px;
}